$font-stack: Georgia, 'Times New Roman', Times, serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
}

html,
body,
#container {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav,
header,
main,
footer {
    min-height: 0;
}

nav {
    background-color: aqua;
}

header {
    background-color: lightpink;
}

main {
    flex: 20 1 0;
    overflow-y: auto;
    background-color: lightskyblue;
}

footer {
    background-color: lightgreen;
    text-align: center;
}

#container {
    display: flex;
}

#left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#right {
    flex: 1;
    overflow: scroll;
}

#timeline,
#characters {
    flex: 1;
    height: 50%;
}

#timeline {
    background: #F6F0F0;
}

#characters {
    background: #F2E2B1;
}

#historyTimeline {
    max-width: 50rem;
    margin: auto;
}

ul,
ol {
    padding-left: 40px;
}

$backgrounds: (
    gray: rgba(128, 128, 128, 0.15),
    lightblue: rgba(86, 180, 233, 0.2),
    cyan: rgba(29, 210, 210, 0.18),
    darkgray: rgba(64, 64, 64, 0.16),
    yellow: rgba(255, 215, 0, 0.18),
    purple: rgba(170, 110, 220, 0.15),
    pink: rgba(255, 99, 187, 0.15),
    brown: rgba(134, 70, 30, 0.13),
    indigo: rgba(75, 0, 130, 0.18),
    orange: rgba(255, 165, 0, 0.18),
    lime: rgba(173, 255, 47, 0.17)
);

@each $name, $color in $backgrounds {
    .vis-item.vis-background.#{"" + $name} {
        background-color: $color;
    }
}

.XXX {
    background: linear-gradient(to right, transparent, red, transparent) !important;
    text-align: center;
}

.XXXStartPrecise {
    background: linear-gradient(to right, red, red, transparent) !important;
    text-align: center;
}

.XXXEndPrecise {
    background: linear-gradient(to right, transparent, red, red) !important;
    text-align: center;
}

.vis-item.vis-range {
    border-style: none !important;
}

#ResetTimelineButton {
    outline: none;
    border: 1px solid black;
    padding: 0.5rem;
    cursor: pointer;
    margin: 0.5rem;
}

.SelectableCharacter {
    cursor: pointer;
    font-weight: bold;
}