---
layout: RootLayout.njk
title: "Contattami"
description: "Modi per contattare Franco Scarpa, ideatore di questo sito Web sulla storia."
h1: "Contattami"
tags: MainNavPages
order: 3
---
<p>Per contattarmi...</p>